[submodule "src/Plugins/Nop-Commerce-Gifts-Plugin"]
	path = src/Plugins/Ecomzen.Plugin.Misc.Gifts
	url = https://github.com/EcomZen/Nop-Commerce-Gifts-Plugin.git
[submodule "src/Plugins/Ecomzen.Plugin.Shipping.CP"]
	path = src/Plugins/Ecomzen.Plugin.Shipping.CP
	url = https://github.com/EcomZen/Nop-Commerce-Shipping-Plugin.git
[submodule "src/Plugins/Ecomzen.Plugin.Misc.Varia"]
	path = src/Plugins/Ecomzen.Plugin.Misc.Varia
	url = https://github.com/EcomZen/Nop-Commerce-Varia-Plugin.git
[submodule "src/Plugins/Ecomzen.Plugin.Misc.Piximport"]
	path = src/Plugins/Ecomzen.Plugin.Misc.Piximport
	url = https://github.com/EcomZen/Nop-Commerce-Piximport-Plugin.git
